@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.franchise{
    background-color: #096ec1;
    margin-top: 188px;
    text-align: center;
    h2{
        color: #fff;
        font-size: 36px;
        font-family: 'Roboto Bold', arial;
        text-transform: uppercase;
        line-height: 41px;
        padding-top: 96px;
    }
    img{
        margin-top: 46px;
        margin-bottom: 73px;
    }

}
.no-risk{
    text-align: center;
    background-image: url("../img/bg-risk.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.title-risk{
    h2{
        font-size: 36px;
        font-family: 'Roboto Bold', arial;
        text-transform: uppercase;
        padding-top: 67px;

    }
}
.risk-item{
    text-align: left;
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 87px;
    &:last-child{
        padding-bottom: 113px;
        margin-bottom: 0;
    }

    p{
        font-family: 'Roboto Light', arial;
        font-size:16px;
        color: #828282;
        padding: 37px 0 0 80px;
        letter-spacing: -1.1px;
    }
}
.risk-item-r{
    text-align: right;
    p{
        padding: 37px 52px 0 0;
        letter-spacing: -1px;


    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";